In [ ]:
# Lambda Function >> anonymous function
# Syntax >>
# lambda Arguments : Expresion >> no needs of return statement of def keyword

In [2]:
sq_lambda = lambda x: x **2
sq_lambda(3)

9

In [14]:
# print even number
even_no = lambda x: x % 2 == 0
even_no(10)

True

In [8]:
# shortex

t = ["angaj", "kumar", "paswan", "don"]
t

['angaj', 'kumar', 'paswan', 'don']

In [9]:
sorted(t)

['angaj', 'don', 'kumar', 'paswan']

In [10]:
le = lambda x : len(x)
le("Angaj")

5

In [11]:
sorted(t, key = lambda x : len(t))

['angaj', 'kumar', 'paswan', 'don']

In [21]:
# fibonaccic
fib = lambda n : n if n <= 1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [27]:
# factoiral

fic = lambda n : n if n <=1 else n * fic(n-1)
#[fic(i) for i in range(5)]
fic(5)

120

In [ ]:
# Map >> map exicute a specified number for each of iterator of an iterable
# syntax >>
# map(function, iterable)

In [31]:
def sq(l):
    return l **2

l = [1, 2, 3, 4, 5]
list(map(sq, l))

[1, 4, 9, 16, 25]

In [32]:
list(map(lambda x : x **2 , l))

[1, 4, 9, 16, 25]

In [38]:
d = [1, 2, 3, 4]

result = list(map(lambda x : x + 10, d))
result

[11, 12, 13, 14]

In [41]:
# convert

i = ["1", "2", "3", "4"]
list(map(lambda x : int(x), i))

[1, 2, 3, 4]

In [1]:
k = [2.1 , 2.3, 3.2, 5.3]

list(map(lambda x : int(x), k))

[2, 2, 3, 5]

In [10]:
name = ("angaj", "abhishek")
tuple(map(str.capitalize, name))

('Angaj', 'Abhishek')

In [ ]:
# reduse >> floding / function
# syntax >> (function, iterable)
# reduce will allows two arguments function

from functools import reduce

In [ ]:
i = [1, 2, 3]
reduce(lambda x, y : x+y, i)

6

In [15]:
l = [1, 2, 3 ,4 ,5]
reduce(lambda x,y : x*y, l)

120

In [16]:
# the most highest at value each stage , you are camparing x / y
a = [1, 2, 3, 100, 300, 1000]
reduce(lambda x, y : x if x>y else y, a)

1000

In [22]:
def mul(x):
    return reduce(lambda x, y: x*y , range(1, x+1))

In [23]:
mul(5)

120

In [ ]:
# Filter
# Syntax(function, iterable)

In [25]:
k = [1, 2, 3 ,4]
list(filter(lambda x: x%2 == 0, k))

[2, 4]

In [29]:
# Nagetive
l1 = [-1, -2, 3, -4]
list(filter(lambda x : x < 0 == 0, l1))

[-1, -2, -4]

In [33]:
name = ["Angaj", "Amit", "Abhishek", "Gunjan"]
list(filter(lambda x: len(x) > 4, name))

['Angaj', 'Abhishek', 'Gunjan']

In [48]:
def n(num):
    if num%2 == 0:
        return True
    return False

In [49]:
num = [2, 4, 6, 3]
list(filter(n, num))

[2, 4, 6]