In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# while loop
n = 7
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3
4
5
6

In [ ]:
# Reverse print
cout = 5
while cout > 0:
    print(cout)
    cout = cout - 1

5
4
3
2
1

In [70]:
# Break >> Break terminate/exists the loop
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 4:
        break

1
2
3

In [71]:
#continue >> skip the itretion
n = 8
i = 1
while i < n:
    i = i+1
    if i == 3:
        continue
    print(i)

2
4
5
6
7
8

In [2]:
# For loop >>

a = "Angaj"
for i in a:
    print(i)

A
n
g
a
j

In [ ]:
# continue statement

l = [1,2, 3, "Angaj", "pankaj"]

for i in l:
    if i  == "Angaj":
        continue
    print(i)

1
2
3
pankaj

In [79]:
#break 
for i in l:
    if i  == "Angaj":
        break
    print(i)

1
2
3

In [4]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [6]:
# Syntax of range(start, stop, step)
list(range(0,10))   # (start, stop)
list(range(0,10,2)) # (start, stop, step)

[0, 2, 4, 6, 8]

In [23]:
# print * a right triangle 

for i in range(4):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [7]:
#square of star

for i in range(3):
    for j in range(2):
        print("*", end=" ")
    print("*")

* * *
* * *
* * *

In [8]:

for i in range(9):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [37]:
#conditional Statememnt
# Continue

number = [1,2,3, 4, 5, 6,7,8,9]

for num in number:
    if (num == 3):# or (num == 4):
        #continue
        break
    print(num)

1
2

In [ ]:
# odd number
for i in range(10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8

In [11]:
# Even number
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [42]:
# table print
for i in range(1, 6):
    for j in range(1, 11):
        product = i * j
        print(f"{i} * {j} = {product}")   
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50