## Dictionary Comprehension

In [54]:
#(key_expression: value_expression for item in iterable if condition)

In [55]:
# square of number : (0:0, 1:1, 2:4:, 3:9, 4:16.....)

In [56]:
#number of square:
square = {x: x**2 for x in range(5)}

In [57]:
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [58]:
# square of even number:
even_sq = {x: x**2 for x in range(10) if x%2 == 0}

In [59]:
even_sq

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [60]:
# square of odd number:
odd_sq = {x: x**2 for x in range(10) if x%2 != 0}

In [61]:
odd_sq

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [62]:
# Q1.('a': 10, b'20') and just convert -> (10: 'a', 20: 'b')
orig = {'a': 10, 'b':20}
inverted = {k:v for v,k in orig.items()}

In [63]:
inverted

{10: 'a', 20: 'b'}

In [64]:
# print of 2 number table: this question is not good
tab = {i: 2*i for i in range(1,11)}

In [65]:
tab

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [66]:
# {"Angaj":5, "kumar":5, "Paswan":5}
mylist = ["Angaj", "kumar", "Paswan"]
mydict = {i:len(i) for i in mylist}

In [67]:
mydict

{'Angaj': 5, 'kumar': 5, 'Paswan': 6}

In [68]:
# Create a dict of cube only if number > 3. ()

In [77]:
qube = {x: x**3 for x in range(1, 10) if x > 3}

In [78]:
qube

{4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

Recursion

## interviews

In [80]:
# cover this:
#1. list comprehension
#2. map, reduse, filter
#3. pandas and numpy
#4. classes and objects
#5. recursion

In [ ]:
# syntax of list comprehension:
# [expression for item in iterable if condition]

In [ ]:
# solove this Question:
#1. square of number
#2. even number
#3. convert to uppercase
#4. filter vowels
#5. cube of numbers for numbers > 3

In [85]:
#1. square of number:
sq = [x**2 for x in range(10)]

In [86]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
#2. even number:
ev_num = [x for x in range(1, 10) if x%2 == 0]

In [92]:
ev_num

[2, 4, 6, 8]

In [95]:
#3. convert to uppercase:
my_bx = ["angaj", "kuamr"]
upper_list = [i.upper() for i in my_bx]

In [96]:
upper_list

['ANGAJ', 'KUAMR']

In [97]:
# now convert lowercase
lower_list = [i.lower() for i in upper_list]

In [98]:
lower_list

['angaj', 'kuamr']

In [102]:
# i will convert again capitalize
capitiolize = [i.capitalize() for i in lower_list ]

In [103]:
capitiolize

['Angaj', 'Kuamr']

In [104]:
#4. filter vowels:
mylist = ["a", "s", "y", "p", "n", "i", "o", "u"]
vowel_list = [i for i in mylist if i in "aeiou"]

In [105]:
vowel_list

['a', 'i', 'o', 'u']

In [106]:
#5. cube of numbers for numbers > 3:
cube_list = [i**3 for i in range(1, 10) if i > 3]

In [107]:
cube_list

[64, 125, 216, 343, 512, 729]

#Map, Reduce, filter

In [ ]:
# syntyax of Map.
#map(function, iterable)

In [110]:
my_list = [2, 3, 4, 5, 6]
squares = list(map(lambda x: x**2, my_list))

In [111]:
squares

[4, 9, 16, 25, 36]

In [118]:
square2 = list(map(lambda x: x**2, range(10)))

In [120]:
square2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# syntax of Filter.
# filter(function. iterable)

In [123]:
even_list = list(filter(lambda x:x%2 == 0, my_list))

In [124]:
even_list

[2, 4, 6]

In [ ]:
# syntax of reduce.
# Reduce(fuction, iterable)

In [126]:
from functools import reduce
prod = reduce(lambda x,y: x+y, my_list)

In [127]:
prod

20

In [128]:
my_list

[2, 3, 4, 5, 6]

In [ ]:
# Qus1. Map >> extract the first latter of each word present in the list - ["apple", "grapes", "orange"]
# from a list of strings, keep only those with length> s - filter
# Qes2. Reduce >> find the product of all elements - [1, 2, 3, 4, 5]

In [137]:
# Qes1:
h_list = ["apple", "grapes", "orange"]
f_latter = list(map(lambda x: x[0],h_list))

In [138]:
f_latter

['a', 'g', 'o']

In [153]:
len_list = list(filter(lambda x:len(x) > 5, h_list))

In [154]:
len_list

['grapes', 'orange']

In [157]:
# Qes2.
mylist3 = [1, 2, 3, 4 ,5]
produ = reduce(lambda x,y: x*y, mylist3)

In [158]:
produ

120

## Recursion

In [ ]:
'''def fuctionname(para):
    if base_cond:
        return:
    else: 
        return
    fuctionname(smaller_problems)'''

In [170]:
# factorial - 5! = 120
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)

In [171]:
fact(5)

120

In [ ]:
# working explation of factorial
#5*fact(4) , 5*4*fact(3), 5*4*3*fact(2), 5*4*3*2*fact(1) >>  5*4*3*2*1 >> 120

In [175]:
# Sum of first number:
def sum_f(n):
    if n == 0:
        return 0
    else:
        return n + sum_f(n-1)

In [176]:
sum_f(6)

21

# Expalantion of sum
6 + sum_f(5)
6 + 5sum_f(4)
6 + 5 + 4sum_f(3)
6 + 5 + 4 + 3sum_f(2)
6 + 5 + 4 + 3 + 2sum_f(1)
6 + 5 + 4 + 3 + 2 +1sum_f(0)

## Classes and object

In [179]:
class persion:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def greet(self):
        print(f"hello my name is {self.name} and i am {self.age} year old")

In [180]:
p = persion("Angaj", 20)

In [181]:
p.greet()

hello my name is Angaj and i am 20 year old