In [ ]:
# String >> string is a sqence of character

In [ ]:
# ASCII REPRSENTION

char = "A"
type(char) # str
ord(char) # ord >> ordinal >> means >> what is nomerical of chracter

65

In [5]:
chr(65)  # Given the charecter crosseponding to that no

'A'

In [ ]:
# UNICODE REPRESENTATION
# OMEGA
'\u03A9' # Omega
'\u03A3' # Samestion
'\u0973' # hindi a

'à¥³'

In [16]:
# String
name = "Angaj" # duble code: " "
name = 'Angaj' # Single code: ''
name

'Angaj'

In [ ]:
# concatetion Striong
string1 = "Angaj"
string2 = "kumar"

string1 + " " + string2

'Angaj kumar'

In [26]:
"string1"+ ">>" +"string2"

'string1>>string2'

In [ ]:
# Extract slicing of string
a = "Angaj"
a[0]

'A'

In [ ]:
s1 = "i am angaj"
s1[0:] #start to end string print

'i am angaj'

In [33]:
# Iterat over the squence in reverse order
# like this 
a1 = "Angaj"
a1[::-1]

'jagnA'

In [37]:
# String are inmutable
s1 = "Angaj"
s1[0]
#s1[0] = "p" # error becaouse these are inmutable so i can not change.

'A'

In [40]:
# length of chracter 
s1
len(s1)

5

In [48]:
# replace
address = "i'm from, vaishali"
address.replace("vaishali", "panaur langa")

"i'm from, panaur langa"

In [2]:
# upper case
s = "angaj"
s.upper()

'ANGAJ'

In [51]:
# lower case

s = "GUNJAn"
s.lower()

'gunjan'

In [52]:
s.title()

'Gunjan'

In [ ]:
ae = "i am Angaj"
ae.swapcase() # lower to upper & upper to lower
ae.capitalize() # first later wi9ll be capital

'I am angaj'

In [57]:
# striong Searching

sentence = "i am Angaj kumar"
"am" in sentence

True

In [63]:
# present and absent
sentence = "i am Angaj kumar"
my_word = "am"

if my_word in sentence:
    print("present")
else:
    print("Absent")

present

In [64]:
# Documents

Documents = "some_file.pdf"
if "pdf" in Documents:
    print("yes this Documents present")
else:
    ("Not present")

yes this Documents present

In [65]:
# Email

Email = "angajpaswan@gmail.com"
if "@" in Email:
    print("this email is valid")
else:
    print("invalid")

this email is valid

In [ ]:
# compaire string

a1 = "angaj"
a2 = "Angaj"

a1 == a2 # the answer is false becaouse a1 is first latter not capital so
a1.lower() == a2.lower() # True becaouse all latter convert is small so .

True

In [3]:
# Scan the product code and saw the prise

prodouct_code = "A123"
Scanned_code = input("Scan the code: ")

if prodouct_code == Scanned_code:
    print("Prise: 299/-")
else:
    print("Try Again")

Prise: 299/-

In [77]:
# playlist

playlist = ["tu tu hai ohi", "tere sangh", "mitti", "tujhe dekha to"]
sorted(playlist)

['mitti', 'tere sangh', 'tu tu hai ohi', 'tujhe dekha to']

In [78]:
# sspace
input_str = "      angasj"
input_str

'      angasj'

In [ ]:
input_str.strip() # Why use strip >> we wiil be use strip because i can remove space so.

'angasj'

In [84]:
# \t Escap chracter
a = "Name\tage\tGrade\nAngaj\t21\tA\nGunjan\t22\tA+"
print(a)

Name	age	Grade
Angaj	21	A
Gunjan	22	A+

In [4]:
# String Formatting
name = "Angaj"
greeting = "hello %s, wiss you wonderfull day"%name
print(greeting)

hello Angaj, wiss you wonderfull day

In [4]:
s1 = 'Angaj'
s1.startswith("A")
s1.endswith("j")

True

In [6]:
s1 = "abc124"
s1.isalnum()
s1.isalpha

In [2]:
a = "Angaj"
len(a)

5

In [3]:
count = 0
for i in a:
    print(i)
    count = count+1
print(count)

A
n
g
a
j
5