In [ ]:
# List >> list is a container and put value step by step and its mutable manuplate value and exchange value, that is accible
# list is like a shopping bag which can store every thing.
# List list are orderd collection of any items.

In [1]:
shopping_bag = [1, 2, 4, 5 , bool, True, False, "angaj", ('a', 'b', 'c')] # This is a list
shopping_bag

[1, 2, 4, 5, bool, True, False, 'angaj', ('a', 'b', 'c')]

In [2]:
len(shopping_bag)

9

In [6]:
shopping_bag[0:]

[1, 2, 4, 5, bool, True, False, 'angaj', ('a', 'b', 'c')]

In [7]:
shopping_bag[5]

True

In [8]:
count = 0
for i in shopping_bag:
    print(i)
    count = count+1
print(count)

1
2
4
5
<class 'bool'>
True
False
angaj
('a', 'b', 'c')
9

In [ ]:
# Deep copy and shall copy >> value will be change and other list
shopping_bag[4] = "paswan" # we can change this becaouse its mutable
shopping_bag

[1, 2, 4, 5, 'paswan', True, False, 'angaj', ('a', 'b', 'c')]

In [ ]:

shopping_bag.remove("Gunaj") # we can add and remove
shopping_bag

[1, 2, 4, 5, 'paswan', True, False, 'angaj', ('a', 'b', 'c'), 'Gunaj']

In [17]:
grocery_list = [1, bool, True, False, 3+3j, "Monday", "Angaj"]
grocery_list

[1, bool, True, False, (3+3j), 'Monday', 'Angaj']

In [ ]:
"Angsaj" in grocery_list # False becaouse this value is not available in the grocery list
"Angaj" in grocery_list  # True becaouse its availble in the grocerry list

True

In [29]:
# Deep copy >> will not change the value in anathor value
grocery_list
b = grocery_list.copy()
b

[1, bool, True, False, (3+3j), 'Monday', 'Angaj']

In [30]:
b[0] = "2"
b

['2', bool, True, False, (3+3j), 'Monday', 'Angaj']

In [33]:
grocery_list

[1, bool, True, False, (3+3j), 'Monday', 'Angaj']

In [34]:
book_list = [1, "Data sincec", "hello", "Algorithem"]
book_list

[1, 'Data sincec', 'hello', 'Algorithem']

In [45]:
book_list.index("hello")
book_list.pop() # remove the last element

'hello'

In [46]:
book_list

[1, 'Data sincec']

In [ ]:
# List comprehension
prise_list = [10, 20, 30, 40, 50]
duble_prise = []
for i in prise_list:
    duble_prise.append(i*2)
duble_prise                # this is comprehesion

[20, 40, 60, 80, 100]

In [62]:
[duble_prise * 2 for duble_prise in duble_prise]

[40, 80, 120, 160, 200]

In [63]:
names = ["Angaj", "paswan", "Gunjan", "kumari"]
[name.capitalize() for name in names]

['Angaj', 'Paswan', 'Gunjan', 'Kumari']

In [70]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [ ]:
[num**2 for num in num] # square

[1, 4, 9, 16, 25]

In [ ]:
# Nested List comprehension
pairs = []

for x in [1,2,3,4]:
    for y in [4,3,2,1]:
        pairs.append([x,y])
pairs

[[1, 4],
 [1, 3],
 [1, 2],
 [1, 1],
 [2, 4],
 [2, 3],
 [2, 2],
 [2, 1],
 [3, 4],
 [3, 3],
 [3, 2],
 [3, 1],
 [4, 4],
 [4, 3],
 [4, 2],
 [4, 1]]

In [76]:
[[x,y]for x in [1,2,3] for y in [4,5,6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [ ]:
# List >> listas a stack (optional)
# list >> last in first out principal >> the last element add to the stack will be first one to be remove

In [100]:
stack_list1 = []
stack_list1.append("plate1")
stack_list1.append("palte2")
stack_list1.append("palte3")
stack_list1.append("palte4")
stack_list1

['plate1', 'palte2', 'palte3', 'palte4']

In [101]:
stack_list1.pop()

'palte4'

In [102]:
stack_list1

['plate1', 'palte2', 'palte3']

In [ ]:
# Queue >> follows the first in first out princepal value
# labrary is collection of python code(modules)
# collection is a labrary and deque is module

In [103]:
from collections import deque
check_out = deque()
check_out.append("Angaj")
check_out.append("Gunjan")
check_out.append("manisha")
check_out

deque(['Angaj', 'Gunjan', 'manisha'])

In [104]:
while check_out:
    coustumer = check_out.popleft()
    print("serving", coustumer)

serving Angaj
serving Gunjan
serving manisha