In [24]:
# Tuples >> tuples are orderd collection of elements, hitroginus
# Tuples are inmutable >> means we can not changes elements in the tuples

In [25]:
# like this 

t = ("Angaj")
type(t)

str

In [ ]:
p = ("Abgaj", bool, 3+3j, True, False, (1,2,3), {1,2,3,4}, ['a','b']) # tuples is store every thing value
type(p) # here is a type
p[0]    # serching list
#p[0] = "Pankaj" # Error Becaose tuples is inmutable so we can not exchange. 
                # tuple as a Data structure , whre you dont want to modify data.
p.count(bool)
len(p)
#p.index(4)
p[4]     # false Becaouse Flase = 0 , and True = 1.

TypeError: '>' not supported between instances of 'type' and 'str'

In [ ]:
p[::-4]

for i in p:
    print(i, type(i))

Abgaj <class 'str'>
<class 'bool'> <class 'type'>
(3+3j) <class 'complex'>
True <class 'bool'>
False <class 'bool'>
(1, 2, 3) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
['a', 'b'] <class 'list'>

In [44]:
s1 = (1, 2, 3, 4, 5, -1, -3, -4)
max(s1)
min(s1)

-4

In [45]:
# sets >> sets are unorderd and unque collection of element.
# Doesn't allows duplicate tuples.
# unorderd >> indexi will not work.

d = {}
type(d)

dict

In [48]:
d = {(1, 2,), 1,2, bool, True, False, 3 + 3j, "Angaj"}
d

{(1, 2), (3+3j), 1, 2, bool, 'Angaj', False}

In [55]:
type(d)
len(d)

7

In [ ]:
s1 = {1, 2, 3, "Angaj", "Angaj", "Angaj", "Angaj"} # Duplicate not allow only unque value
s1

{1, 2, 3, 'Angaj'}

tuple

In [ ]:
s1[0] # its not indexi

TypeError: 'set' object is not subscriptable

In [60]:
for i in s1:
    print(i)

Angaj
1
2
3

In [66]:
# set is mutable

s = (1, 2, 3, 4, "Angaj")
s

(1, 2, 3, 4, 'Angaj')

In [ ]:
s1 = {1,2,3,4}
s1.add(5) # not copulsary that it will to add last of set
s1

{1, 2, 3, 4, 5}

In [ ]:
s1.add(5) 
s1

{1, 2, 3, 4, 5, 25, 35}

In [94]:
s1.pop() # it is not compulsary that will remove the first element.
s1

{4, 25, 35}

In [96]:
s1.remove(4)  # it can remove specificaly element
s1

{25, 35}

In [ ]:
s1.pop(35) # it removes randomly
s1

TypeError: set.pop() takes no arguments (1 given)

In [98]:
s1

{25, 35}

In [102]:
s1.update("Angaj")
s1

{25, 35, 'A', 'a', 'g', 'j', 'n'}

In [ ]:
s1.update(["Angaj"]) # its itreble
s1

{25, 35, 'A', 'Angaj', 'a', 'g', 'j', 'n'}

In [ ]:
s1.remove("pankaj") # that is error becaouse not present pankaj name variable in the set so.
s1

KeyError: 'pankaj'

In [112]:
p1 = {"Angaj", "gunajan", "paswan", "santosh", "rittik"}
p2 = {"alok", "Gudiya", "Abhishek", "Gaurav", "rittik"}

In [111]:
# union combine of opretions
p1 | p2

{'Abhishek',
 'Angaj',
 'Gaurav',
 'Gudiya',
 'alok',
 'gunajan',
 'paswan',
 'rittik',
 'santosh'}

In [113]:
# intersection >> only common element
p1 & p2

{'rittik'}

In [114]:
# Diffrence element
p1 - p2

{'Angaj', 'gunajan', 'paswan', 'santosh'}

In [115]:
# symmentry operator

p1 ^ p2

{'Abhishek',
 'Angaj',
 'Gaurav',
 'Gudiya',
 'alok',
 'gunajan',
 'paswan',
 'santosh'}

In [117]:
# Frozents set >> imutable version of sets, can not be add and removed any element
my_forzets = frozenset([1,2, 3, 4, 5, 6,6, 6, 4,4,4])
my_forzets

frozenset({1, 2, 3, 4, 5, 6})

In [118]:
type(my_forzets)

frozenset

In [ ]:
my_forzets.add(1,2) # error becaouse imutable

AttributeError: 'frozenset' object has no attribute 'add'