In [ ]:
# Dictionary >> Dictionary is a data sturcture and that store as key value pair
# keys are unque and immutable.

In [ ]:
a = {"Angaj",(1,2)} # its not dict becaouse its not value of key pair
type(a)

set

In [ ]:
a = {} # that is empty dict.
type(a)

dict

In [ ]:
a = {"key": "lock"} # that is dict becaouse value is key in pair.
type(a)

dict

In [7]:
s = {"name": "Angaj", "class": "Bca", "Year": "2nd semester", "Seasion": "2024 to 2027"}
s

{'name': 'Angaj',
 'class': 'Bca',
 'Year': '2nd semester',
 'Seasion': '2024 to 2027'}

In [ ]:
g = {"Name1": "Angaj","Name2": "Gunjan" }
g["Name1"] = "Angaj Paswan" 
g

{'Name1': 'Angaj Paswan', 'Name2': 'Gunjan'}

In [17]:
g["Name3"] = "manisha"
g

{'Name1': 'Angaj Paswan', 'Name2': 'Gunjan', 'Name3': 'manisha'}

In [35]:
len(g)
g1 = {"Name1": "Angaj","Name2": "Gunjan" }
for key in g1.keys():
    print(key)

Name1
Name2

In [ ]:
d = {"key": 1}
d["key"]
d[1]    # why error becaose only acciss value nad key

KeyError: 1

In [37]:
g1 = {"#": "123", "name": [1,2, 3, 4]}
g1

{'#': '123', 'name': [1, 2, 3, 4]}

In [ ]:
g1.clear()
g1 # these are empty

{}

In [41]:
p1 = {"Name1": "Angaj","Name2": "Gunjan" }
p1.keys()
p1.values()

dict_values(['Angaj', 'Gunjan'])

In [ ]:
p1.pop("Name1") # delete Nmae1 value
p1

{'Name2': 'Gunjan'}

In [51]:
# update
d = {"Course": "Bca"}
d

{'Course': 'Bca'}

In [54]:
c = {"Name": "Angaj"}
c

{'Name': 'Angaj'}

In [55]:
b = {"Name2": "Kumar"}
b

{'Name2': 'Kumar'}

In [ ]:
# update
c.update(b)
c

{'Name': 'Angaj', 'Name2': 'Kumar'}

In [60]:
# gate
c.get("name")
c

{'Name': 'Angaj', 'Name2': 'Kumar'}

In [62]:
# from keys
c.fromkeys((1, 2, 3), ("a", "A","C"))

{1: ('a', 'A', 'C'), 2: ('a', 'A', 'C'), 3: ('a', 'A', 'C')}

In [ ]:
# Zip function

Students = "Angaj", "Gunjan", "Amrita", "Alok"
marks = {80, 89, 34, 47}
for i in zip(Students, marks):
    print(i)

('Angaj', 80)
('Gunjan', 89)
('Amrita', 34)
('Alok', 47)

In [65]:
# dictionary comprehension

Students = "Angaj", "Gunjan", "Amrita", "Alok"
marks = {80, 89, 34, 47}
{Students:marks for Students, marks in zip(Students,marks)}

{'Angaj': 80, 'Gunjan': 89, 'Amrita': 34, 'Alok': 47}

In [66]:
user_name = {"Angaj", "Alok", "Abhishek"}
user_id = {1, 2, 3}

{user_name:user_id for user_name, user_id in zip(user_name, user_id)}

{'Abhishek': 1, 'Alok': 2, 'Angaj': 3}