In [ ]:
# Data Structure >>  Way of orgnaizaing and storing Data so that it can be an mainuplate
# Data structure >> string, list, tuples, dic, set, array

In [ ]:
# list >> you can store anything in list >> can store hitrogenous data
# List is an orderd callection of elemets that can be of any data type
# List are mutable

str

In [2]:
num = [1, 2, 3, 4, 5]
num

[1, 2, 3, 4, 5]

In [3]:
type(num)

list

In [9]:
num[0]

1

In [10]:
# adding elements to the list
# lets go now see
a = [1, 2, 3, 45, "angaj", "paswan", bool, 3+3j, True, False]
a

[1, 2, 3, 45, 'angaj', 'paswan', bool, (3+3j), True, False]

In [ ]:
#a.append(207) #adding
a.remove(207) # remove
a

[1, 2, 3, 45, 'angaj', 'paswan', bool, (3+3j), True, False]

In [27]:
# list is the mutable(change)
a[0] = "abhishek"
a

['abhishek', 2, 3, 45, 'angaj', 'paswan', bool, (3+3j), True, False]

In [ ]:
b = [[1,2, 3], [2,3 ,4],[6,7,8]]

[[1, 2, 3], [2, 3, 4], [6, 7, 8]]

In [32]:
b[1][2]

4

In [ ]:
# Tuples() >> tuples is the inmutable

In [ ]:
t = (1, 2, 3, 4) # this is tuple
t

(1, 2, 3, 4)

In [ ]:
#uses case >> AAdhar card, ATM, empid >> You dont want to change, you will use tuple store the data

In [35]:
num = (1, 2, 3, 4, "Angaj", False, bool, 3+ 3j) # tuples can also store any data so tuples is a hitrogenous
num

(1, 2, 3, 4, 'Angaj', False, bool, (3+3j))

In [43]:
type(num) # type
num[1]    # acciess value
#num[2] = 7 # no change becaouse tuples are inmutable
num

(1, 2, 3, 4, 'Angaj', False, bool, (3+3j))

In [ ]:
# sets{} >> sets are unordered collection of unque element

In [46]:
s = {"banana", "orange"}
type(s)
s

{'banana', 'orange'}

In [ ]:
check = {"banana", "orange","banana", "orange", "cacumber"} # only print unque value so this is sets.
check[0] # error becaouse its a unorderd
check

{'banana', 'cacumber', 'orange'}

In [48]:
# Dictioneries >> which store the data in the value of key pair
my_dict = {}
type(my_dict)

dict

In [52]:
m = { "Name": "Angaj kumar", "my_course": "Data_scince", "Duration": "6 monthe"}
m

{'Name': 'Angaj kumar', 'my_course': 'Data_scince', 'Duration': '6 monthe'}

In [60]:
menu_card = {"pannir": 249, "Samosa": 10, "Cheken_pannir": 399}
menu_card["pannir"]

249

In [3]:
# Array >> Array is similar to list >> homoginious Data
array = ('i', [1, 2, 3, 4])
array[1]
type(array)

tuple